.chat {
  height: 75vh;
  width: 50vw;
  border: 1px #000000 solid;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo {
  background-color: #C4C4C4;
  padding: 1rem;
  margin: 0;
  border: 1px solid #000000
}

.mensagens {
  height: 100%;
  overflow: scroll;
}

.texto-mensagem{
  border: 1px solid #000000;
  padding: 1rem;
  margin: 1rem 1rem 0 1rem;
}

.botoes-mensagem {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.editar {
  background-color: #F6A75D;
  border: none;
  padding: 0.4rem;
}

.excluir {
  border: none;
  background-color: #F65D5D;
  padding: 0.4rem;
}

.excluido {
  display: none;
}

.interface {
  background-color: #C4C4C4;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  border: 1px solid #000000;
  justify-content: center;
}

.texto {
  resize: none;
  border: 1px solid #000000
}

.enviar {
  background-color: #0066CC;
  border: none;
  height: 2rem;
  color: #ffffff;
  border-radius: 10px;
  width: 5rem;
  margin-left: 1rem;
}